
*.db
*.ipch
*.iobj
*.ipdb
*.lastbuildstate
*.tlog
*.idb
*.xcuserstate
*.LinkFileList
*.o
*.d
*.cmake
*.makeRelease
*.make
*.makeDebug
*.dia
*.bin
*.log
*.xcbuild
*.cxx
*.check_cache
*.hmap
*.yaml
*.dat
*.depend
*.stamp
*.db-shm
*.rule
*.list
*.sln
*.db-wal
*.obj
*.pdb
bin
