
*.db
*.ipch
*.iobj
*.ipdb
*.lastbuildstate
*.tlog
*.idb
*.plist
*.xcsettings
*.xcworkspacedata
*.xcuserstate
*.LinkFileList
*.o
*.d
*.sh
*.xcworkspace
*.pbxproj
*.cmake
*.makeRelease
*.make
*.a
*.makeDebug
*.dia
*.bin
*.log
*.xcbuild
*.cxx
*.c
*.check_cache
*.hmap
*.yaml
*.dat
*.xcodeproj
bin/demos/Debug/YWTestDemo
bin/demos/Debug/YWHelloWorldDemo
bin/build/XCBuildData/BuildDescriptionCacheIndex-ec67fa0eb5cb46c0636b0cb7570669ce
bin/app/Debug/YWApplication
bin/CMakeCache.txt
bin/build/XCBuildData/BuildDescriptionCacheIndex-d18a42a4e6d139b8d3f64a45fc0a9ceb
bin/CMakeFiles/3.12.0-rc1/CompilerIdC/CompilerIdC
bin/CMakeFiles/TargetDirectories.txt
bin/CMakeFiles/3.12.0-rc1/CompilerIdC/XCBuildData/BuildDescriptionCacheIndex-06712ece5482af87dd0fc44145386725
bin/CMakeFiles/3.12.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
bin/CMakeFiles/3.12.0-rc1/CompilerIdCXX/CompilerIdCXX
bin/CMakeFiles/3.12.0-rc1/CompilerIdCXX/XCBuildData/BuildDescriptionCacheIndex-c133d885db6d55a8b78f93ad71adb82f
*.depend
*.vcxproj
*.filters
*.stamp
*.db-shm
*.rule
*.list
*.sln
bin/CMakeFiles/3.13.2/VCTargetsPath.txt
*.db-wal
bin/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
