
*.db
*.ipch
*.iobj
*.ipdb
*.lastbuildstate
*.tlog
*.idb
*.plist
*.xcsettings
*.xcworkspacedata
*.xcuserstate
*.LinkFileList
*.o
*.d
*.sh
*.xcworkspace
*.pbxproj
*.cmake
*.makeRelease
*.make
*.a
*.makeDebug
*.dia
*.bin
*.log
*.xcbuild
*.cxx
*.c
*.check_cache
*.hmap
*.yaml
*.dat
*.xcodeproj
